{{ define "main" }}
	<h1 class="text-center">{{ .Title }}</h1>

	<div class="grid" data-masonry='{"percentPosition": true, "columnWidth": ".grid-sizer", "itemSelector": ".grid-item", "gutter": ".gutter-sizer", "horizontalOrder": true}'>
	<div class="grid-sizer"></div>
	<div class="gutter-sizer"></div>

	{{ if .Page.IsHome }}
		{{ range $index, $element := .Site.RegularPages }}
			<!-- pass index into grid-item partial -->
		    {{ .Scratch.Set "index" $index }}
			{{ partial "grid-item.html" . }}
		{{ end }}
	{{ else }}
		{{ range .Pages.ByPublishDate.Reverse }}
			{{ partial "grid-item.html" . }}
		{{ end }}
	{{ end }}

	<style>
		:root {
			--cols: 5;
			--width: calc((100% / var(--cols)) - 1%);
			--space: calc((100% - var(--width) * var(--cols)) / (var(--cols) - 1));
		}

		/* clearfix */
		.grid:after {
		  content: '';
		  display: block;
		  clear: both;
		}

		.grid-sizer,
		.grid-item {
		  width: var(--width);
		  margin-bottom: var(--space);
		  padding: var(--space);
		}

		.grid-item--width2 { width: calc(var(--width) * 2); }

		.gutter-sizer {
		  width: var(--space);
		}
	</style>
{{ end }}

