<!-- Show count for tags and categories -->
{{ if or (eq .Page.Type "tags") (eq .Page.Type "categories") }}
	{{ len .Pages }}
{{ end }}
<!-- For tags and categories, the publishdate's year is 1 - in such cases, we don't want to show the published date -->
{{ if ne .PublishDate.Year 1 }}
	{{ $dateTime := .PublishDate.Format "2006-01-02" }}
	{{ $dateFormat := .Site.Params.dateFormat | default "January 2, 2006" }}
	<time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
{{ end }}
{{ with .Params.tags }}
	<br/>
	Tags:
	{{ range . }}
		{{ $href := print (absURL "tags/") (urlize .) }}
		<a href="{{ $href }}">{{ . }}</a>
	{{ end }}
{{ end }}
{{ with .Params.categories }}
	<br/>
	Categories:
	{{ range . }}
		{{ $href := print (absURL "categories/") (urlize .) }}
		<a href="{{ $href }}">{{ . }}</a>
	{{ end }}
{{ end }}

